<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <app-header headerMainTitle="Add Employee">
      </app-header>
  
      <div class="container-fluid contentpage_wrapper">
        <div class="pagecontent_wrapper">
        	<div class="manage-employees-add-detail">
        		<h4>Basic Details</h4>
                 <div class="flx_div">
                    <div class="flx_section">
                        <label class="ipt_label">First Name</label>
                        <input class="ipt" type="text" name="" placeholder="First Name" value="Daniel">
                    </div>
                    <div class="flx_section">
                        <label class="ipt_label">Last Name</label>
                        <input class="ipt" type="text" name="" placeholder="Last Name" value="Joseph">
                    </div>
                    <div class="flx_section">
                        <label class="ipt_label">Phone Number</label>
                        <input class="ipt" type="text" name="" placeholder="Phone Number" value="+1-541-754-3010">
                    </div>
                    <div class="flx_section">
                        <label class="ipt_label">Email Address</label>
                        <input class="ipt" type="email" name="" placeholder="First Name" value="daniel_jos@gmail.com">
                    </div>                                        
                </div>
                <h4>Set Permission</h4>
                <div class="flx_div">
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per1">
                        <label for="per1" class="custom_lbl">
                            <span></span> Permission 1
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per2">
                        <label for="per2" class="custom_lbl">
                            <span></span> Permission 2
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per3">
                        <label for="per3" class="custom_lbl">
                            <span></span> Permission 3
                        </label>
                    </div>  
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per4">
                        <label for="per4" class="custom_lbl">
                            <span></span> Permission 4
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per5">
                        <label for="per5" class="custom_lbl">
                            <span></span> Permission 5
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per6">
                        <label for="per6" class="custom_lbl">
                            <span></span> Permission 6
                        </label>
                    </div>     
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per7">
                        <label for="per7" class="custom_lbl">
                            <span></span> Permission 7
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per8">
                        <label for="per8" class="custom_lbl">
                            <span></span> Permission 8
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per9" checked>
                        <label for="per9" class="custom_lbl">
                            <span></span> Permission 9
                        </label>
                    </div>  
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per10">
                        <label for="per10" class="custom_lbl">
                            <span></span> Permission 10
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per11">
                        <label for="per11" class="custom_lbl">
                            <span></span> Permission 11
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per12" checked>
                        <label for="per12" class="custom_lbl">
                            <span></span> Permission 12
                        </label>
                    </div>   
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per13" checked>
                        <label for="per13" class="custom_lbl">
                            <span></span> Permission 13
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per14">
                        <label for="per14" class="custom_lbl">
                            <span></span> Permission 14
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="custom_ipt" id="per15">
                        <label for="per15" class="custom_lbl">
                            <span></span> Permission 15
                        </label>
                    </div>                                                                       
                </div>
                <div class="btn_flex">
                    <button class="btn_Confirm" style="width: 160px;">ADD EMPLOYEE</button>
                    <button class="btn_Cancel">CANCEL</button>
                </div>
			</div>

        </div>
      </div>
    
    </main>
  </div>
  