<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <app-header headerMainTitle="Manage Exchanges">
      </app-header>
  
      <div class="container-fluid contentpage_wrapper peak-manage-exchanges peak-radius10">
        <div class="pagecontent_wrapper">
           
                <div class="col-lg-12 custom_mobWrap    " >
                    <div class="row">
                    <div class="col-lg-10 col-md-8 col-sm-12 col-12 no-padding">
                        <div class="white_wrapper white_firstChild">
                            <div class="peak_flex">
                                <div class="peak_exhange_form">
                                    <label>Direct Transfer</label>
                                        <label class="switch" for="checkbox">
                                        <input type="checkbox" id="checkbox" />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="peak_exhange_form">
                                    <label>Exchange Fee Received</label>
                                        <label class="switch" for="checkbox1">
                                        <input type="checkbox" id="checkbox1" />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="peak_exhange_form">
                                    <label>Identified</label>
                                    <div class="toggle-wrapper">
                                        <input id="example" class="toggle" type="checkbox" />
                                        <label for="example" class="toggle--label"></label>
                                        <div class="foux-toggle"></div>
                                      </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12 col-12 ">
                        <div class="white_wrapper white_firstChild ptb7">
                            <button class="btn peak_grey"><i class="fas fa-envelope"></i>Send Email</button>
                           </div>  
                    </div>
                </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                        <div class="white_wrapper ">
                            <div class="description_peakWrap">
                                <div class="wrapper_firstChild">
                                    <p class="descHeader"> <strong>Kit Harrington</strong> <small>(ALTO Real Estate Funds)</small> </p>
                                    <ul>
                                        <li> <span class="nth-span1">Exchange Number</span><span class="ftBold">E-6348</span> </li>
                                        <li><span class="nth-span1">Relinquished Address</span><span class="ftBold">603 Halifax Ave.Solon, OH 44139 </span> </li>
                                        <li><span class="nth-span1">Replacement Address</span><span class="ftBold"><a href="">+Add Replacement Property</a></span> </li>
                                        <li><span class="nth-span1">Current Account Balancer</span><span class="ftBold">$241,152.00</span> </li>
                                    </ul>
                                </div>
                                <div class="wrapper_secondChild">
                                    <p class="sub_titleHeader">Exchange Deadlines</p>
                                    <ul>
                                        <li><span class="nth-span1">45-Day Deadline</span><span class="ftBold">7/30/2020</span> </li>
                                        <li class="warn_desc">There are <small>7</small> days left to turn in the ID form.</li>
                                        <li><span class="nth-span1">180-Day Deadline</span><span class="ftBold">12/12/2020</span> </li>
                                        <li class="warn_desc">There are <small>142</small> days left to complete the exchange.</li>
                                    </ul>
                                </div>
                                <div class="wrapper_thirdChild">
                                    <p class="sub_titleHeader">Exchange Deadlines<i class="fas fa-pencil-alt"></i></p>
                                    <textarea name=""  class="form-control editable">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply</textarea>
                                </div>
                            </div>

                            <div class="tabs_headerBlock">
                                <div class="custom_TabWrapper">
                                  
                                    <div class="tab_static customs380tab">
                                        <div class="static_innertab">
                                            <ul class="nav nav-tabs">
                                             <li class="nav-item">
                                               <a class="nav-link active" data-toggle="tab" href="#generals">GENERAL</a>
                                             </li>
                                             <li class="nav-item">
                                               <a class="nav-link" data-toggle="tab" href="#relinquished"> RELINQUISHED</a>
                                             </li>
                                             <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#identifications"> IDENTIFICATION</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#replacement1"> REPLACEMENT 1</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#replacement2"> REPLACEMENT 2</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#closeout"> CLOSEOUT</a>
                                              </li>
                                              <li class="btn_liadd">
                                               <button class="btn add_tab_btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <path d="M15.3859 9.68H9.32586V15.74H6.68586V9.68H0.625859V7.01H6.68586V0.949999H9.32586V7.01H15.3859V9.68Z" fill="#212121"/>
                                                </svg></button>
                                              </li>
                                           </ul>
                                        </div>
                                    </div>
                                    <div class="rtSend">
                                        <button class="btn btn_apply">Apply Template</button>
                                    </div>
                                 </div>
                            </div>
 
                            <!--TAB-->
                          <div class="flexible_tabs">

                            
                            <div class="custom_TabWrapp">
                                <div class="tab_loop">
                                 <div class="tab-content">
                                     <!--GENERAL-->
                                     <div class="tab-pane  active" id="generals">
                                        
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <p class="font18">Account Statements</p>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                    <button class="btn peak_grey btn_acct" *ngIf="onEnabledShow" (click)="onEdit()">Edit Account Statement</button>
                                                    <div class="btn_peak_grp" *ngIf="onDisabledShow">
                                                        <button class="btn peak_update">Update</button>
                                                        <button class="btn peak_cancel">Cancel</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="body_content table_editable table-responsive">
                                                        <table class="table borderless">
                                                            <thead class="first-child">
                                                       
                                                               <tr>
                                                                <th style="width:135px;min-width:135px;max-width: 135px;" class="bg_hdr">Date</th>
                                                                <th style="width:300px;min-width:300px;max-width: 300px;" class="bg_hdr">Item</th>
                                                                <th style="width:150px;min-width:150px;max-width: 150px;" class="bg_hdr">Incoming Amount</th>
                                                                <th style="width:150px;min-width:150px;max-width: 150px;" class="bg_hdr">Outgoing Amount</th>
                                                                <th style="width:150px;min-width:150px;max-width: 150px;" class="bg_hdr">Balance</th>
                                                               </tr>
                                                                
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value=" 7/15/2020" ></td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value="Pioneer Title Agency Inc | Proceeds"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"  disabled value="$289,109.83"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"   value=""></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> $289,109.83 </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value=" 7/15/2020"></td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value="Pioneer Title Agency Inc | Proceeds"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"  disabled value=""></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"   value="$600"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">$288,509.83  </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value=" 7/15/2020"></td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value="Pioneer Title Agency Inc | Proceeds"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"  disabled value="$100,000.00"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"   value=""></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> $188,509.83</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value=" 7/15/2020"></td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value="Pioneer Title Agency Inc | Proceeds"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"  disabled value=""></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"   value="$188,474.83"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">$35.00 </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value=" 7/15/2020"></td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;"> <input type="text" name="" id="" class="disabled_input"  disabled  value="Wire Fee"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"  disabled value="$35.00"></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> <input type="text" name="" id="" class="disabled_input"   value=""></td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">$70.00 </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr class="peak_empty_spaces">
                                                                    <td style="width:135px;min-width:135px;max-width: 135px;"> &nbsp;</td>
                                                                    <td style="width:300px;min-width:300px;max-width: 300px;">&nbsp;  </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;">&nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                    <td style="width:150px;min-width:150px;max-width: 150px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="background:#ffffff; padding: 11px 0px; vertical-align: middle;border-right: unset;    border-top-left-radius: 10px;border-bottom-left-radius: 10px;" colspan="4"> 
                                                                        <p class="font18" style="margin: 0;text-align: center;">Current Balance </p>
                                                                    </td>
                                                                    <td style="background:#ffffff; padding: 11px 0px; vertical-align: middle;    border-top-right-radius: 10px;border-bottom-right-radius: 10px;" > 
                                                                        <p class="font18" style="margin: 0;text-align: center;">$70.00 </p>
                                                                    </td>
                                                                </tr>
                                                                
                                                              
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <button class="btn peak_grey btn_downloads">Download Exchange Documents</button>
                                     </div>
                                       <!--RELINQUISHED-->
                                     <div class="tab-pane  fade" id="relinquished">
                                        relinquished
                                     </div>
                                       <!--IDENTIFICATION-->
                                     <div class="tab-pane  fade" id="identifications">
                                        identifications
                                    </div>
                                      <!--REPLACEMENT 1-->
                                    <div class="tab-pane  fade" id="replacement1">
                                        replacement1
                                    </div>
                                      <!--REPLACEMENT 2-->
                                    <div class="tab-pane  fade" id="replacement2">
                                        replacement2
                                    </div>
                                      <!--CLOSEOUT-->
                                    <div class="tab-pane  fade" id="closeout">
                                        closeout
                                    </div>
                                     
                                   </div>
                                </div>
                             </div>



                             <div class="tab_static">
                                 <div class="static_innertab">
                                     <p class="font18">Notes</p>
                                     <ul class="nav nav-tabs">
                                      <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#Internal">Internal</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#General"> General</a>
                                      </li>
                                    </ul>
                                    
                              
                                    <div class="tab-content">
                                      <div class="tab-pane container active" id="Internal">
                                          <div class="list_internalScroll">
                                              <h6 class="clone_textarea">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                  <span> from Elysa on 7/19/2020 7:45PM</span>
                                              </h6>
                                              <h6 class="clone_textarea">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                  <span> from Elysa on 7/19/2020 7:45PM</span>
                                              </h6>
                                              <h6 class="clone_textarea">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                  <span> from Elysa on 7/19/2020 7:45PM</span>
                                              </h6>
                                              <h6 class="clone_textarea">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                  <span> from Elysa on 7/19/2020 7:45PM</span>
                                              </h6>
                                              <h6 class="clone_textarea">
                                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                  <span> from Elysa on 7/19/2020 7:45PM</span>
                                              </h6>
                                          </div>
                                          
                                      </div>
                                      <div class="tab-pane container fade" id="General">
                                        <div class="list_internalScroll">
                                            <h6 class="clone_textarea">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                <span> from Elysa on 7/19/2020 7:45PM</span>
                                            </h6>
                                            <h6 class="clone_textarea">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                <span> from Elysa on 7/19/2020 7:45PM</span>
                                            </h6>
                                            <h6 class="clone_textarea">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                <span> from Elysa on 7/19/2020 7:45PM</span>
                                            </h6>
                                            <h6 class="clone_textarea">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                <span> from Elysa on 7/19/2020 7:45PM</span>
                                            </h6>
                                            <h6 class="clone_textarea">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                <span> from Elysa on 7/19/2020 7:45PM</span>
                                            </h6>
                                        </div>
                                      </div>
                                      <div class="peak-form mt_20">
                                          <textarea placeholder="Enter Address" class="peak-box-g peak-t-area">Enter Notes</textarea>
                                      </div>
                                      <button class="btn btn_send">Add Notes</button>
                                    </div>
                                 </div>
                             </div>
                          </div>
                        </div>  
                    </div>
                
                </div>
                </div>
        </div>
      </div>
    
    </main>
  </div>
  